#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "baikal"
name = "Baïkal"
description.en = "Lightweight CalDAV and CardDAV server"
description.fr = "Serveur CalDAV et CardDAV léger"

version = "0.11.1~ynh1"

maintainers = ["salamandar"]

[upstream]
license = "GPL-3.0"
website = "https://sabre.io/baikal/"
demo = "https://demo.yunohost.org/baikal/admin/"
admindoc = "https://sabre.io/dav/"
userdoc = "https://sabre.io/baikal/install/"
code = "https://github.com/sabre-io/Baikal"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true
sso = false

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/baikal"

    [install.password]
    type = "password"

[resources]
    [resources.sources.main]
    url = "https://github.com/sabre-io/Baikal/releases/download/0.11.1/baikal-0.11.1.zip"
    sha256 = "124a83adfdd29b7a2b48ce42ffcbdd39906ea0980bb98f79c8479b4a80647100"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    main.allowed = "visitors"
    main.auth_header = false
    admin.url = "/admin"
    admin.allowed = "admins"
    admin.show_tile = false

    [resources.apt]
    packages = [
        "mariadb-server",
        "php8.4-xml",
        "php8.4-mbstring",
        "php8.4-mysql",
        "php8.4-ldap",
    ]

    [resources.database]
    type = "mysql"
